/* layout */
.flex-auto {
  flex: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

/* bg color */
.bg-primary {
  background: $color-primary;
}
.bg-white {
  background: $color-white;
}
.bg-light-grey {
  background: $color-light-grey;
}

/* text-color */
.text-primary {
  color: $color-primary;
}
.text-white {
  color: $color-white;
}
.text-grey {
  color: $color-grey;
}
.text-light-grey {
  color: $color-light-grey;
}

/* utils */
.font-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}